@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: 100%;
}

body {
    font-family: 'Helvetica Neue';
    color: #ffffff;
    background: linear-gradient(100deg, #2f43ff, #6ceff6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin-bottom: 7%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.logo img {
    height: 60px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue.ttf') format('truetype');
    margin-right: 90px;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px;
}

.hero-text {
    max-width: 600px;
    margin-bottom: 100%;
    margin-left: 90px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 18px;
    font-weight: lighter;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    background-color:transparent;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    border-color: #ffffff;
    font-size: 1.1em;
    border: 2px solid #ffffff;
}

.cta-button img {
    margin-left: 12px;
    height: 12px;
    width: auto;
    fill: none;
}

.hero-image img {
    max-width: 100%;
    height: 370px;
    margin-left: 130px;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        text-align: left;
    }

    .hero-text {
        margin-bottom: 0;
        text-align: left;
    }
}

@media (max-width: 767px) {
    body {
        margin-bottom: 10%;
    }

    .logo {
        margin-left: 20px;
    }

    nav ul {
        margin-right: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin: 10px 0;
    }

    .hero {
        margin-top: 30px;
        padding: 20px 10px;
    }

    .hero-text {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .hero-image img {
        height: auto;
        margin-left: 0;
    }

    .cta-button {
        font-size: 1em;
        padding: 8px 16px;
    }
}
